data/*.wav
data/**/*.wav
data/**/**/*.wav
data/**/**/**/*.wav
data/*.hea
data/**/*.hea
data/**/**/*.hea
data/**/**/**/*.hea
data/**/**/**/**/*.hea
data/**/**/**/**/**/*.hea
data/**/**/**/**/**/**/*.hea
data/**/**/**/**/**/**/**/*.hea
*.json
*.prt
*.txt
*.pkl
*.xlsx
*.wav
*.png
*.jpg
*.jpeg
*.tar
*.zip
*.pdf
*.csv
*.log
.idea


#!*/lst/**/*