data/*.wav
data/**/*.wav
data/**/**/*.wav
data/**/**/**/*.wav
!data/lst/**/*.json
!data/lst/**/*.xlsx
!data/lst/**/*.csv
*.json
*.prt
*.txt
*.pkl
*.xlsx
*.wav
*.png
*.jpg
*.jpeg
*.tar
*.zip
*.pdf
.idea